<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
</head>
<body>
<div id="app">
    <div v-for="item in foods">
        //<p>{{item}}</p>
    </div>
    <ul v-for="item in list">
        <li>
            <span>{{item.type}}</span>
            <span>{{item.value}}</span>
        </li>
    </ul>
</div>
<script>
    new Vue({
        el:"#app",
        data(){
            return{
                foods:["香蕉","米饭","西红柿炒鸡蛋"],
                list:[
                    {
                        type:"水果",
                        value:"香蕉"
                    },
                    {
                        type:"主食",
                        value:"米饭"
                    },

                    {
                        type:"炒菜",
                        value:"西红市炒鸡蛋"
                    }
                ]
            }
        }
    })
</script>
</body>
</html>